# Copy to .env and set in production
PORT=3001
JWT_SECRET=mynameisnottotallysecret
ADMIN_EMAIL=moaazsamehzeedan@gmail.com
ADMIN_PASSWORD=momoxd17
# Second admin is always zeedanpharama@gmail.com / mynameisnottotallysecret