@import "tailwindcss";

@theme {
  --color-primary: #0d9488;
  --color-primary-dark: #0f766e;
  --color-primary-light: #14b8a6;
  --color-accent: #059669;
  --color-surface: #f0fdfa;
}

body {
  font-family: 'Segoe UI', 'Tahoma', 'Arial', sans-serif;
}
